.App-header {
    display: flex;
}

.App-header img {
    margin-right: 20px;
}

.App-header h2 {
    font-size: 1.5rem;
}

.Menu {
    list-style: none;
    display: flex;
    gap: 15px;
    margin-left: auto;
}

section h2 {
    margin-left: auto;
}