.app-header {
    display: flex;
}

.app-header img {
    margin-right: 20px;
}

.app-header h2 {
    font-size: 1.5rem;
}

.menu {
    list-style: none;
    display: flex;
    gap: 15px;
    margin-left: auto;
}

section h2 {
    margin-left: auto;
}

.footer {
    text-align: center;
    margin-top: 20%;
    font-size: 0.9rem;
    color: #888;
}